/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #4d4c4a;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body, html { 
  font-family: 'Vazir', sans-serif;
  color: #2b2a29
}

div {
    /* border:1px solid #cf4d16; */
    margin: auto;
    padding: 10px;
    text-align: center;
}

button {
  border:2px solid #cf4d16;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color:#f5b732;
  transition: 0.3s;
}
.correct {
  background-color:#7fa46d;
  transition: 0.1s;
}
.correct:hover {
  background-color:#7fa46d;
  transition: 0.1s;
}
.wrong {
  background-color:#b72a16;
  transition: 0.1s;
}
.wrong:hover  {
  background-color:#b72a16;
  transition: 0.1s;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
h1 {
  border-bottom: 4px solid #cf4d16;
  /* border-radius: 10px; */
}
h6 {
  border: 1px solid black;
  padding: 10px;
}
input {
  margin:auto;
  width: auto;
  display:inline-block; 
  width: 100px;
  text-align: center;
}
.container {
  width: 50%;
  min-width: 450px;
  background-color:#329da3;
  border-radius: 10px;
}
select {
  text-align: center;
}

div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 15.4375rem;
  padding: 0px;
  border-radius: 10px;
}

/* Input*/
.omrs-input-underlined > input {
	border: none;
	border-bottom: 2px solid #cf4d16;
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
  background-color: #329da3;
}

.omrs-input-underlined > input:focus {
	outline: none;
  background-color:#f5b732;
  border-bottom: 2px solid #f5b732;
  border-radius: 10px;
  transition: 0.2s;
}

.omrs-input-underlined > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .3s;
}

.omrs-input-underlined > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover {
	background-color:#f5b732;
  border-bottom: 2px solid #f5b732;
  border-radius: 10px;
  transition: 0.2s;
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label {
	top: 9px;
	font-size: 0.7375rem;
	margin-bottom: 32px;
}
